/*Universal*/
html {
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}
h2, h3 {
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}
.container {
    max-width: 960px;
    margin: 0px auto;
}

/*Header: logo on the right*/
header {
    background-color: black;
}

header .container {
    display: flex;
    align-items: center;
    padding: 0.66rem 0.5rem;
}

header img {
    padding-right: 1rem;
}

/*Banner: hero image with new arrival on the left side*/
.banner {
    background-image: url("../images/moto.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.new{
    position: relative;
    top: 9rem;
    width: 20rem;
    padding: 2rem 3rem;
    background-color: black;
}

.new h2 {
    padding-top: 0.25rem;
}

@media only screen and (max-width: 1024px){
    .new h2 {
        font-size: 2.1rem;
        line-height: 2.5rem;
    }
}
@media only screen and (max-width: 470px){

    .banner {
        height: 15rem;
    }
     .new {
         position: relative;
         top: 10rem;
         width: auto;
         padding: 1rem 2rem;
         font-size: 0.77rem;
     }

    .new h2{
        font-size: 1rem;
    }
}


/*Navigation: menu*/
nav {
    background-color: firebrick;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    padding: 0.75rem 3rem;
}

nav a:hover {
    color: black;
    background-color: pink;
}

.mobilenav {
    display: none;
}

@media only screen and (max-width: 1024px){
    .desktopnav {
        display: none;
    }

    .mobilenav{
        display: block;
        text-align: center;
    }
}
 
/*Product: display of products in grid*/
.products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.item {
    width: 30%;
    border: 4px solid black;
    margin: 1rem;
}

.imagecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
    padding: 2rem;
}

.imagecontainer img {
    max-width: 8rem;
}

.item span{
    display: block;
    text-align: center;
    background-color: black;
    padding: 0.5rem;
}

@media only screen and (max-width: 1024px) {
    .item {
        width: 47%;
    }

    .glasses {
        display: none;
    }
}

@media only screen and (max-width: 470px){
    .watch {
        display: none;
    }

    .item {
        width: 90%;
    }
}

/*Information for location and hours*/
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0rem 4rem 0rem;
}

.infoitem{
    width: 35%;
}

.blackbg {
    text-align: center;
    background-color: black;
    padding: 1rem 2rem;
}

.blackfont{
    color: black;
    padding-top: 1rem;
}

@media only screen and (max-width: 470px){
    .info {
        display: flex;
        flex-direction: column;
    }

    .infoitem {
        width: 90%;
    }
}

/*Footer: copyright*/
footer {
    background-color: black;
    padding: 5rem 0rem;
}

@media only screen and (max-width: 470px) {
    footer {
        text-align: center;
    }
}